.main-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing:content-box;
  padding-left:70px;
}

.wrapper{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.main-row .chat-box{
  margin-top: 18px;
}

.main-column{
  margin-top: 220px;
  display: flex;
  justify-content: center;


}
