.profile-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}

.profile-card .profile-img{
    width: 54px;
    height: 54px;
    margin-bottom: 8px;
}

.profile-card img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.profile-card .chat-name{
    color: #383838;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

.profile-card .chat-memo{
    color: #BEBEBE;
    font-size: 10px;
    font-weight: 300;
}

