.chat-input{
margin-top: 12px;
 width: 460px;   
 height: 80px;
 display: flex;
 justify-content: space-between;
 background-color: #fafafa;
 padding: 14px;
 box-sizing: border-box;
 border-radius: 10px;
 
}

.sender-toggle{
    width: 40px;
    height: 40px;
    border-radius: 30px;
  }



.chat-input textarea{
    margin: 0 12px;
    flex: 1;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    line-height: 100%;
    resize: none;
    
}

textarea:focus {
    outline: none;
  }

.chat-input button{
    font-size: 12px;
    width: 62px;
    border: none;
    height: 34px;
    padding: 6px 14px;
    border-radius: 6px;
    background-color: #383838;
    color: #fafafa;
    font-weight: 500;
    align-self: flex-end;
    cursor: pointer;
}
